.container {
    max-width: 600px;
    margin: auto;
    padding-top: 25px;
}

.main-img {
    height: 600px;
    width: 600px;
}

.bottom-section {
    padding: 0px 15px;
    border: 1px solid #E6E6E6;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: -5px;
    margin-bottom: 25px;
}

.header-info {
    display: flex;
    border: 1px solid #E6E6E6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    align-items: center;
}

.thumbnail {
    height: 40px;
    margin: 0px 15px;
    border-radius: 50%;
}